@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  background: #292929;
}

input,
textarea,
button {
  font-family: inherit;
}

input:focus,
textarea:focus {
  outline: none;
}

label {
  font-size: 1.5rem;
}

.container {
  text-align: center;
  margin: 1rem 0;
  padding: 2rem;
}

h2.title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.zip {
  width: 320px;
  height: 60px;
  display: block;
  text-align: center;
  margin: 1.25rem auto;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  border: none;
  background: hsl(255, 100%, 100%);
  color: hsl(0, 0%, 0%);
}

.feelings {
  background: hsl(255, 100%, 100%);
  color: hsl(0, 0%, 0%);
  display: block;
  margin: 1rem auto;
  padding: 0.5rem;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  resize: none;
}

.generateBtn {
  width: 240px;
  height: 80px;
  display: block;
  margin: 1.5rem auto;
  font-size: 2rem;
  font-weight: bold;
  border-radius: 0.5rem;
  background-color: hsl(0, 0%, 10%);
  color: hsl(255, 100%, 100%);
  border: none;
  cursor: pointer;
}

.generateBtn:hover {
  background-color: hsl(237, 100%, 70%);
}

#app {
  height: 100%;
  display: flex;
  flex-direction: column;
  color: hsl(255, 100%, 100%);
}
